.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .dashboard-card {
    padding: 20px;
    height: 100%;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }